# Masterschool Data Analytics course Unicorn Database Project

## Preparations

### Installing and importing packages

In [ ]:
import pandas as pd
import sqlalchemy as sa

### Making a connection

In [ ]:
unicorn_url = "postgresql://Test:bQNxVzJL4g6u@ep-noisy-flower-846766-pooler.us-east-2.aws.neon.tech/Unicorn"

Remember: Connecting with SQLAlchemy always works in two steps:

1.   Create an engine
2.   Make a connection

In [ ]:
engine = sa.create_engine(unicorn_url)
connection = engine.connect().execution_options(isolation_level="AUTOCOMMIT")

## Practice

The team at Unicorn asks you to answer the following questions utilizing SQL queries.

### Schema

![Screenshot_2023-02-09_at_14.24.03.webp]()

### Tasks

####1. How many customers do we have in the data?

In [ ]:
q1 = """
SELECT
  COUNT(DISTINCT c.customer_id) AS total_customers -- Count the distinct customer IDs to avoid duplicates
FROM
  customers AS c;
"""
pd.read_sql(sa.text(q1),connection)

   total_customers
0              795

####2. What was the city with the most profit for the company in 2015?

In [ ]:
q2 = """
SELECT
  o.shipping_city AS city,
  SUM(od.order_profits) AS total_profit   -- Sum the total profits for each city
FROM
  orders o
  JOIN order_details od ON o.order_id = od.order_id
WHERE
  EXTRACT(YEAR FROM o.order_date) = 2015 -- Filter orders in the year 2015
GROUP BY
  o.shipping_city
ORDER BY
  total_profit DESC                       -- Sort cities by total profits in descending order
LIMIT
  1;                                      -- Limit the result to the city with the highest profit

"""
pd.read_sql(sa.text(q2),connection)

            city  total_profit
0  New York City       14753.0

####3. In 2015, what was the most profitable city's profit?

In [ ]:
q3 = """
SELECT
  SUM(od.order_profits) AS total_profit   -- Calculate the total profit for each city
FROM
  orders AS o
  JOIN order_details AS od ON o.order_id = od.order_id
WHERE
  EXTRACT(YEAR FROM o.order_date) = 2015  -- Filter to only include orders from the year 2015
GROUP BY
  o.shipping_city
ORDER BY
  total_profit DESC                       -- Sort cities by total profit in descending order
LIMIT
  1;                                      -- Limit the result to the top city with the highest profit
"""
pd.read_sql(sa.text(q3),connection)

   total_profit
0       14753.0

####4. How many different cities do we have in the data?

In [ ]:
q4 = """
SELECT
  COUNT(DISTINCT shipping_city) AS total_cities  -- Count the distinct cities in the shipping_city column
FROM
  orders;
"""
pd.read_sql(sa.text(q4),connection)

   total_cities
0           531

####5. Show the total spent by customers from low to high.

In [ ]:
q5 = """
SELECT
  c.customer_id,
  c.customer_name,
  SUM(od.order_sales) AS total_spent      -- Calculate the total amount spent by each customer
FROM
  customers AS c                          -- From the customers table
  LEFT JOIN orders AS o ON c.customer_id = o.customer_id     -- Left join with orders table to get order information
  LEFT JOIN order_details AS od ON o.order_id = od.order_id  -- Left join with order_details table to get sales data
GROUP BY
  c.customer_id,
  c.customer_name                         -- Group by customer name to calculate the total for each individual customer
ORDER BY
  total_spent ASC;                        -- Order the customers by total spent, from lowest to highest
"""
pd.read_sql(sa.text(q5),connection)

     customer_id    customer_name  total_spent
0            456     Lela Donovan          5.0
1            738    Thais Sissman          5.0
2            546  Mitch Gastineau         16.0
3            124     Carl Jackson         17.0
4            657       Roy Skaria         22.0
..           ...              ...          ...
790          388         John Lee      16744.0
791          731     Tamara Chand      19050.0
792          687      Sean Miller      25042.0
793          795      Loren Bowen          NaN
794          794     Zack Gibbens          NaN

[795 rows x 3 columns]

####6. What is the most profitable city in the State of Tennessee?

In [ ]:
q6 = """
SELECT
  o.shipping_city AS city,
  SUM(od.order_profits) AS total_profit  -- Sum the profits from the order_details table for each city
FROM
  orders AS o                            -- From the orders table
  JOIN order_details AS od ON o.order_id = od.order_id  -- Join the orders table with the order_details table to get profits
WHERE
  o.shipping_state = 'Tennessee'         -- Filter for orders that were shipped to cities in Tennessee
GROUP BY
  o.shipping_city                        -- Group by city to calculate the total profit for each city
ORDER BY
  total_profit DESC                      -- Sort cities by total profit in descending order
LIMIT
  1;                                     -- Limit the result to the city with the highest total profit
"""
pd.read_sql(sa.text(q6),connection)

      city  total_profit
0  Lebanon          83.0

####7. What’s the average annual profit for that city across all years?

In [ ]:
q7 = """
WITH city_yearly_profit AS (
  SELECT
    EXTRACT(YEAR FROM o.order_date) AS year,               -- Extract the year from the order_date
    SUM(od.order_profits) AS yearly_profit                 -- Sum the profits for each year
  FROM
    orders o
    JOIN order_details od ON o.order_id = od.order_id      -- Join the orders and order_details tables
  WHERE
    o.shipping_city = 'Lebanon'                            -- Filter for the city of Lebanon
  GROUP BY
    EXTRACT(YEAR FROM o.order_date)                        -- Group by year to calculate profits for each year
)
SELECT
  'Lebanon' AS city,                                       -- Return the city name
  ROUND(AVG(yearly_profit) :: NUMERIC, 2) AS avg_annual_profit  -- Calculate the average annual profit across all years
FROM
  city_yearly_profit;                                      -- Use the results from the CTE (yearly profits)

"""
pd.read_sql(sa.text(q7),connection)

      city  avg_annual_profit
0  Lebanon              27.67

####8. What is the distribution of customer types in the data?

In [ ]:
q8 = """
SELECT
  customer_segment,                              -- Select the customer_segment (type of customer)
  COUNT(DISTINCT customer_id) AS customer_count  -- Count the distinct customer IDs for each customer type
FROM
  customers                                      -- From the customers table
GROUP BY
  customer_segment                               -- Group by the customer_segment
ORDER BY
  customer_count DESC;                           -- Order the result by the customer count in descending order

"""
pd.read_sql(sa.text(q8),connection)

  customer_segment  customer_count
0         Consumer             410
1        Corporate             237
2      Home Office             148

####9. What’s the most profitable product category on average in Iowa across all years?

In [ ]:
q9 = """
SELECT
  p.product_category,
  AVG(od.order_profits) AS avg_profit            -- Calculate the average of order profits for each product category
FROM
  orders AS o
  JOIN order_details AS od ON o.order_id = od.order_id  -- Join orders with order details to get the profits
  JOIN product AS p ON od.product_id = p.product_id     -- Join order details with the product table to get the category
WHERE
  o.shipping_state = 'Iowa'                      -- Filter by shipping state (Iowa)
GROUP BY
  p.product_category                             -- Group the results by product category
ORDER BY
  avg_profit DESC                                -- Sort by average profit in descending order
LIMIT
  1;                                             -- Limit the result to only the most profitable category

"""
pd.read_sql(sa.text(q9),connection)

  product_category  avg_profit
0        Furniture      130.25

####10. What is the most popular product in that category across all states in 2016?

In [ ]:
q10 = """
SELECT
  p.product_category,
  p.product_name,
  SUM(od.quantity) AS total_quantity
FROM
  orders o
  JOIN order_details od ON o.order_id = od.order_id
  JOIN product p ON od.product_id = p.product_id
WHERE
  p.product_category = 'Furniture' -- Filter for the Furniture category
  AND EXTRACT(
    YEAR
    FROM
      o.order_date
  ) = 2016 -- Filter for the year 2016
GROUP BY
  p.product_category,
  p.product_name
ORDER BY
  total_quantity DESC -- Sort by total quantity sold in descending order
LIMIT
  1;

"""
pd.read_sql(sa.text(q10),connection)

  product_category                                product_name  total_quantity
0        Furniture  Global Push Button Manager's Chair, Indigo            22.0

####11. Which customer got the most discount in the data? (in total amount)

In [ ]:
q11 = """
SELECT
  c.customer_id,
  c.customer_name,
  ROUND(SUM(od.order_sales / (1 - od.order_discount)) :: NUMERIC - SUM(od.order_sales):: NUMERIC, 2) AS total_discount -- Total discount received
FROM
  customers c
  JOIN orders o ON c.customer_id = o.customer_id -- Join customers and orders
  JOIN order_details od ON o.order_id = od.order_id -- Join orders and order details
GROUP BY
  c.customer_id,
  c.customer_name
ORDER BY
  total_discount DESC -- Order by total discount in descending order
LIMIT
  1; -- Limit the result to the top customer

"""
pd.read_sql(sa.text(q11),connection)

   customer_id customer_name  total_discount
0          687   Sean Miller        23929.08

####12. How widely did monthly profits vary in 2018?

In [ ]:
q12 = """
WITH monthly_profits AS (
  SELECT
    to_char(o.order_date, 'MM-YYYY') AS month, -- Extract the month from the order_date
    SUM(od.order_profits) AS month_total -- Calculate total profits for each month
  FROM
    orders o
    JOIN order_details od ON o.order_id = od.order_id -- Join orders and order_details to access profits
  WHERE
    EXTRACT(YEAR FROM o.order_date) = 2018 -- Filter for the year 2018
  GROUP BY
    1 -- Group by month to calculate monthly totals
)
SELECT
  month, -- Month number (1-12)
  month_total, -- Total profits for the month
  month_total - LAG(month_total, 1, 0) OVER (ORDER BY month ASC) AS month_diff -- Calculate difference for subsequent months
FROM
  monthly_profits
ORDER BY
  month ASC; -- Order the results by month


"""
pd.read_sql(sa.text(q12),connection)

      month  month_total  month_diff
0   01-2018       7137.0      7137.0
1   02-2018       1612.0     -5525.0
2   03-2018      14758.0     13146.0
3   04-2018        934.0    -13824.0
4   05-2018       6342.0      5408.0
5   06-2018       8226.0      1884.0
6   07-2018       6951.0     -1275.0
7   08-2018       9034.0      2083.0
8   09-2018      10987.0      1953.0
9   10-2018       9272.0     -1715.0
10  11-2018       9217.0       -55.0
11  12-2018       8473.0      -744.0

####13. Which was the biggest order regarding sales in 2015?

In [ ]:
q13 = """
SELECT
  o.order_id,
  SUM(od.order_sales) AS total_order_sales         -- Sum the order sales for the entire order
FROM
  orders o
  JOIN order_details od ON o.order_id = od.order_id  -- Join orders with order details to calculate total sales per order
WHERE
  EXTRACT(YEAR FROM o.order_date) = 2015            -- Filter orders to only include those from the year 2015
GROUP BY
  o.order_id                                       -- Group by order ID to calculate the total sales for each order
ORDER BY
  total_order_sales DESC                           -- Sort orders by total sales in descending order
LIMIT
  1;                                               -- Limit the result to the order with the highest total sales

"""
pd.read_sql(sa.text(q13),connection)

         order_id  total_order_sales
0  CA-2015-145317            23660.0

####14. What was the rank of each city in the East region in 2015 in quantity?

In [ ]:
q14 = """
WITH
  city_quantities AS (
    SELECT
      o.shipping_city, -- The city from the orders table
      SUM(od.quantity) AS total_quantity -- Total quantity of items ordered in each city
    FROM
      orders o
      JOIN order_details od ON o.order_id = od.order_id -- Join orders with order_details to get quantities
    WHERE
      o.shipping_region = 'East' -- Filter for cities in the East region
      AND EXTRACT(
        YEAR
        FROM
          o.order_date
      ) = 2015 -- Filter for the year 2015
    GROUP BY
      o.shipping_city -- Group by city to aggregate total quantities
  )
SELECT
  shipping_city, -- The city name
  total_quantity, -- Total quantity for the city in 2015
  DENSE_RANK() OVER (
    ORDER BY
      total_quantity DESC
  ) AS city_rank -- Rank cities by total quantity, descending
FROM
  city_quantities
ORDER BY
  city_rank; -- Display the results ordered by rank

"""
pd.read_sql(sa.text(q14),connection)

    shipping_city  total_quantity  city_rank
0   New York City          1708.0          1
1    Philadelphia           403.0          2
2        Columbus           167.0          3
3          Newark            64.0          4
4       Fairfield            53.0          5
5      Long Beach            44.0          6
6        Lakewood            38.0          7
7       Lancaster            36.0          8
8        Lawrence            31.0          9
9           Dover            30.0         10
10     Hackensack            28.0         11
11         Bangor            24.0         12
12          Utica            24.0         12
13         Lowell            23.0         13
14        Yonkers            22.0         14
15     Wilmington            21.0         15
16        Clinton            20.0         16
17      Baltimore            20.0         16
18       Cranston            20.0         16
19        Everett            19.0         17
20     Providence            19.0         17
21        Buffalo            19.0         17
22         Medina            16.0         18
23        Meriden            15.0         19
24        Beverly            15.0         19
25   New Rochelle            14.0         20
26        Bristol            14.0         20
27      Hempstead            12.0         21
28      Cleveland            12.0         21
29      Rochester            12.0         21
30         Toledo            12.0         21
31      Watertown            12.0         21
32        Chester            11.0         22
33           Troy            11.0         22
34       Franklin            11.0         22
35          Akron            10.0         23
36        Clifton             9.0         24
37      Jamestown             9.0         24
38        Concord             9.0         24
39       Columbia             8.0         25
40         Lorain             8.0         25
41       Hamilton             8.0         25
42     Cincinnati             8.0         25
43          Mason             7.0         26
44   Mount Vernon             7.0         26
45         Linden             7.0         26
46        Reading             6.0         27
47         Revere             6.0         27
48           Kent             5.0         28
49      Oceanside             5.0         28
50    Springfield             5.0         28
51         Orange             4.0         29
52          Parma             4.0         29
53  Niagara Falls             3.0         30
54     Plainfield             3.0         30
55         Marion             3.0         30
56  Bowling Green             2.0         31
57       Freeport             2.0         31
58     Middletown             2.0         31
59     Woonsocket             2.0         31

####15. Display customer names for customers who are in the segment ‘Consumer’ or ‘Corporate.’ How many customers are there in total?

In [ ]:
q15 = """
SELECT
  customer_name,
  customer_segment,
  (
    SELECT
      COUNT(*)
    FROM
      customers
    WHERE
      customer_segment IN ('Consumer', 'Corporate')
  ) AS total_customers -- Subquery to count the total customers in 'Consumer' or 'Corporate' segments
FROM
  customers
WHERE
  customer_segment IN ('Consumer', 'Corporate'); -- Filter customers in 'Consumer' or 'Corporate' segments

"""
pd.read_sql(sa.text(q15),connection)

          customer_name customer_segment  total_customers
0         Aaron Bergman         Consumer              647
1         Aaron Hawkins        Corporate              647
2        Aaron Smayling        Corporate              647
3             Adam Hart        Corporate              647
4    Adam Shillingsburg         Consumer              647
..                  ...              ...              ...
642      Yoseph Carroll        Corporate              647
643    Zuschuss Carroll         Consumer              647
644  Zuschuss Donatelli         Consumer              647
645        Zack Gibbens         Consumer              647
646         Loren Bowen        Corporate              647

[647 rows x 3 columns]

####16. Calculate the difference between the largest and smallest order quantities for product id ‘100.’

In [ ]:
q16 = """
SELECT
  MAX(od.quantity) AS max_order_quantity, -- Maximum order quantity for product id '100'
  MIN(od.quantity) AS min_order_quantity, -- Minimum order quantity for product id '100'
  (MAX(od.quantity) - MIN(od.quantity)) AS difference -- Difference between max and min quantities
FROM
  order_details AS od
WHERE
  od.product_id = '100'; -- Filter for product id ‘100'
"""
pd.read_sql(sa.text(q16),connection)

   max_order_quantity  min_order_quantity  difference
0                   6                   2           4

####17. Calculate the percent of products that are within the category ‘Furniture.’

In [ ]:
q17 = """
WITH
  product_counts AS (
    SELECT
      COUNT(*) AS total_products, -- Total number of products in the dataset
      SUM(
        CASE
          WHEN p.product_category = 'Furniture' THEN 1
          ELSE 0
        END
      ) AS furniture_products
      -- Count products in the 'Furniture' category using a conditional SUM
    FROM
      product p
  )
SELECT
  furniture_products, -- Number of products in the 'Furniture' category
  total_products, -- Total number of products
  ROUND(((furniture_products::NUMERIC / total_products) * 100), 2) AS percent_furniture
  -- Calculates percentage and sum it by 2 decimals
FROM
  product_counts;

"""
pd.read_sql(sa.text(q17),connection)

   furniture_products  total_products  percent_furniture
0                 380            1850              20.54

####18. Display the number of product manufacturers with more than 1 product in the product table.

In [ ]:
q18 = """
SELECT
  p.product_manufacturer,
  COUNT(p.product_id) AS product_count -- Count of products per manufacturer
FROM
  product AS p
GROUP BY
  p.product_manufacturer -- Group by manufacturer to aggregate product counts
HAVING
  COUNT(p.product_id) > 1 -- Only include manufacturers with more than 1 product
ORDER BY
  p.product_manufacturer ASC; -- Optional: Orders the results alphabetically by manufacturer name

"""
pd.read_sql(sa.text(q18),connection)

    product_manufacturer  product_count
0             3D Systems              2
1                     3M              6
2               ACCOHIDE              3
3                   AT&T             11
4                   Acco             34
..                   ...            ...
164            Wirebound             11
165                Xerox            173
166             XtraLife              2
167                Zebra              4
168               iOttie              2

[169 rows x 2 columns]

####19. Show the product_subcategory and the total number of products in the subcategory. Show the order from most to least products and then by product_subcategory name ascending.

In [ ]:
q19 = """
SELECT
  p.product_subcategory,
  COUNT(p.product_id) AS total_products  -- Count how many products belong to each subcategory
FROM
  product AS p
GROUP BY
  p.product_subcategory  -- Group the results by the product subcategory (to aggregate the count)
ORDER BY
  total_products DESC,   -- Order the results by the count of products in descending order
  p.product_subcategory ASC;   -- If there is a tie in product counts, sort alphabetically by the subcategory name

"""
pd.read_sql(sa.text(q19),connection)

   product_subcategory  total_products
0                Paper             277
1              Binders             211
2               Phones             189
3          Furnishings             186
4                  Art             157
5          Accessories             147
6              Storage             132
7           Appliances              97
8               Chairs              88
9               Labels              70
10            Machines              63
11              Tables              56
12           Bookcases              50
13           Envelopes              44
14            Supplies              36
15           Fasteners              34
16             Copiers              13

####20. Show the product_id(s), the sum of quantities, where the total sum of its product quantities is greater than or equal to 100.

In [ ]:
q20 = """
SELECT
  od.order_id,
  od.product_id,
  SUM(od.quantity) AS total_quantity -- Total quantity of the product
FROM
  order_details od
GROUP BY
  od.order_id,
  od.product_id -- Group by product ID to aggregate quantities
HAVING
  SUM(od.quantity) >= 100 -- Filter for products with total quantity >= 100
ORDER BY
  total_quantity DESC;

"""
pd.read_sql(sa.text(q20),connection)

         order_id  product_id  total_quantity
0  CA-2015-100136        1507           324.0
1  CA-2015-100136        1600           216.0
2  CA-2015-100136         122           143.0
3  CA-2015-100136         920           130.0